<!-- Footer -->
<div class="footer py-5">
  <div class="container grid grid-3">
    <div>
      <h1>{{ title }}</h1>
      <p>Copyright &copy; {{ startingYear }} - {{ year }}</p>
    </div>
    <nav>
      <ul>
        <li><a href="#" [class.active]="activeLink === 'Accueil'" (click)="setActiveLink('Accueil')"><i
          class="fa-thin fa-house"></i>Accueil</a></li>
        <li><a href="#" [class.active]="activeLink === 'Portfolio'" (click)="setActiveLink('Portfolio')">Portfolio</a>
        </li>
        <li><a href="#" [class.active]="activeLink === 'Compétences'"
               (click)="setActiveLink('Compétences')">Compétences</a></li>
        <li><a href="#" [class.active]="activeLink === 'Expériences'"
               (click)="setActiveLink('Expériences')">Expériences</a></li>
        <li><a href="#" [class.active]="activeLink === 'À propos'" (click)="setActiveLink('À propos')">À propos</a></li>
        <li><a href="#" [class.active]="activeLink === 'Contact'" (click)="setActiveLink('Contact')">Contact</a></li>
      </ul>
    </nav>
    <div class="social">
      <a [href]="githubUrl"><i class="fa-brands fa-github fa-2xl"></i></a>
      <a [href]="linkedInUrl"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </div>
  </div>
</div>
