<!-- Footer -->
<div class="footer py-5">
  <div class="container grid grid-3">
    <div>
      <h1>{{ title }}</h1>
      <p>Copyright &copy; {{ startingYear }} - {{ year }}</p>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/" fragment="accueil" [class.active]="activeLink === 'accueil'"
               (click)="setActiveLink('accueil', $event)">Accueil</a></li>
        <li><a routerLink="/" fragment="competences" [class.active]="activeLink === 'competences'"
               (click)="setActiveLink('competences', $event)">Compétences</a></li>
        <li><a routerLink="/" fragment="portfolio" [class.active]="activeLink === 'portfolio'"
               (click)="setActiveLink('portfolio', $event)">Portfolio</a></li>
        <li><a routerLink="/" fragment="experiences" [class.active]="activeLink === 'experiences'"
               (click)="setActiveLink('experiences', $event)">Expériences</a></li>
        <li><a routerLink="/" fragment="apropos" [class.active]="activeLink === 'apropos'"
               (click)="setActiveLink('apropos', $event)">À propos</a></li>
        <li><a routerLink="/" fragment="contact" [class.active]="activeLink === 'contact'"
               (click)="setActiveLink('contact', $event)">Contact</a></li>
      </ul>
    </nav>
    <div class="social">
      <a [href]="githubUrl"><i class="fa-brands fa-github fa-2xl"></i></a>
      <a [href]="linkedInUrl"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </div>
  </div>
</div>
