<!-- Navbar -->
<div class="navbar">
  <div class="container flex">
    <h1 class="logo">{{ title }}</h1>
    <div class="burger-menu"
         role="button"
         tabindex="0"
         (click)="toggleMenu()"
         (keyup.enter)="toggleMenu()"
         (keyup.space)="toggleMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav [class.active]="menuOpen">
      <ul>
        <li><a routerLink="/" fragment="accueil" [class.active]="activeLink === 'accueil'"
               (click)="setActiveLink('accueil', $event)">Accueil</a></li>
        <li><a routerLink="/" fragment="competences" [class.active]="activeLink === 'competences'"
               (click)="setActiveLink('competences', $event)">Compétences</a></li>
        <li><a routerLink="/" fragment="portfolio" [class.active]="activeLink === 'portfolio'"
               (click)="setActiveLink('portfolio', $event)">Portfolio</a></li>
        <li><a routerLink="/" fragment="experiences" [class.active]="activeLink === 'experiences'"
               (click)="setActiveLink('experiences', $event)">Expériences</a></li>
        <li><a routerLink="/" fragment="apropos" [class.active]="activeLink === 'apropos'"
               (click)="setActiveLink('apropos', $event)">À propos</a></li>
        <li><a routerLink="/" fragment="contact" [class.active]="activeLink === 'contact'"
               (click)="setActiveLink('contact', $event)">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
