/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--light-color);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px; /* Spacing for navbar content */
  box-sizing: border-box;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar a {
  color: var(--light-color);
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover,
.navbar a:active {
  font-weight: bold;
  border-bottom: 2px solid var(--light-color);
}
.navbar .flex {
  justify-content: space-between;
}
.burger-menu {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
}

.burger-menu span {
  background: #fff;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

/* Responsive: Tablet (max-width: 920px) */
@media (max-width: 920px) {
  .navbar {
    height: auto; /* Adjust height for wrapping content */
  }

  .navbar .flex {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* Full width for tablet view */
    padding: 8px 0;
    background-color: rgba(26, 101, 158, 0.9);
    border-radius: 5px;
    box-sizing: border-box;
  }

  .navbar ul li {
    margin: 5px; /* Adjust spacing between items */
  }
}

/* Responsive: Mobile (max-width: 730px) */
@media (max-width: 730px) {
  .burger-menu {
    display: flex; /* Show to toggle menu */
  }

  .navbar .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar nav {
    display: none; /* Hidden by default */
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 70px; /* Match navbar height */
    left: 0;
    background-color: rgba(26, 101, 158, 0.9);
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease-in-out;
  }

  .navbar nav.active {
    display: flex; /* Show active navbar */
  }

  .navbar ul {
    flex-direction: column; /* Stack items */
    width: 100%;
    padding: 10px 0;
  }

  .navbar ul li {
    padding: 10px; /* Space between items */
  }
}
