.contact-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}


.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contact-form, .contact-info {
  flex: 1;
  min-width: 280px; /* permet d'assurer une largeur minimale pour les petits écrans */
  box-sizing: border-box;
}

.contact-form {
  padding: 50px 70px;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 20px;
}


.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 5px 2px;
  transition: border-bottom 0.2s ease-in-out;
}

.contact-form .form-control::placeholder {
  color: #d1cece;
  font-style: italic;
}

.contact-form .form-control:focus {
  border-bottom: 1px solid var(--primary-color);
  outline: none;
}

.contact-form .form-control:hover {
  border-bottom: 2px solid var(--primary-color);
}


.submit-btn {
  width: 100%;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.submit-btn:hover {
  background: var(--success-color);
}

.error-text {
  color: var(--error-color);
  font-size: 12px;
}

.contact-info {
  width: 40%;
  text-align: center;
}

.contact-image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.info  {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin: 5px 0;
}

.info p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin: 5px 0;
}

.info p:hover {
  text-decoration: underline;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}

.info i {
  font-size: 18px;
  color: var(--primary-color);
}

/* Responsive media queries pour ajustements supplémentaires sur mobile/tablette */
@media screen and (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-form, .contact-info {
    width: 100%;
    padding: 20px;
  }

  .contact-form {
    order: 2;
  }

  .contact-info {
    order: 1;
  }

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}



